<div class="modal" id="modals">
    <div id="sobre" class="content">
        <!-- Insira seu conteúdo para a seção "Sobre" -->
        <div class="row">
            <div class="container">
                <section class="row bg-success p-3 " style="border-radius: 25px;">

                    <div class="col-sm-3">

                        <img class="rounded-circle" src="ftsSobre/andre.png" alt="Card image" style="width:80%;">



                        <div class="card-body ">
                            <h4 style="padding-left: 25%; padding-top: 5%">André</h4>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                            contatos
                                    </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Link 1</a></li>
                                            <li><a class="dropdown-item" href="#">Link 2</a></li>
                                            <li><a class="dropdown-item" href="#">Link 3</a></li>
                                        </ul>
                            


                        </div>
                    </div>
                    <div class="col-sm-3">

                        <img class="rounded-circle" src="ftsSobre/andressa.jpg" alt="Card image"
                            style="width:85%; border-radius: 10% ">



                        <div class="card-body">
                            <h4 style="padding-left: 12%; padding-top: 5%">Andressa</h4>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                            contatos
                                    </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Link 1</a></li>
                                            <li><a class="dropdown-item" href="#">Link 2</a></li>
                                            <li><a class="dropdown-item" href="#">Link 3</a></li>
                                        </ul>

                    

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <img class="rounded-circle" src="ftsSobre/eduardo.png" alt="Card image"
                            style="width:80%; border-radius: 10%">
                        <div class="card-body">

                            <h4 style="padding-left: 12%; padding-top: 5%">Eduardo</h4>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                            contatos
                                    </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Link 1</a></li>
                                            <li><a class="dropdown-item" href="#">Link 2</a></li>
                                            <li><a class="dropdown-item" href="#">Link 3</a></li>
                                        </ul>
                           
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <img class="rounded-circle" src="ftsSobre/higor2.png" alt="Card image"
                            style="width:80%; border-radius: 10%">
                        <div class="card-body">
                            <h4 style="padding-left: 25%; padding-top: 5%">Higor</h4>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                            contatos
                                    </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Link 1</a></li>
                                            <li><a class="dropdown-item" href="#">Link 2</a></li>
                                            <li><a class="dropdown-item" href="#">Link 3</a></li>
                                        </ul>
                            
                            
                        </div>
                    </div>
                </section>
               <section class="row bg-success p-3 " style="border-radius: 25px;">

                    <div class="col-sm-3">

                        <img class="rounded-circle" src="ftsSobre/andre.png" alt="Card image" style="width:80%;">



                        <div class="card-body ">
                            <h4 style="padding-left: 25%; padding-top: 5%">André</h4>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                            contatos
                                    </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Link 1</a></li>
                                            <li><a class="dropdown-item" href="#">Link 2</a></li>
                                            <li><a class="dropdown-item" href="#">Link 3</a></li>
                                        </ul>
                            


                        </div>
                    </div>
                    <div class="col-sm-3">

                        <img class="rounded-circle" src="ftsSobre/andressa.jpg" alt="Card image"
                            style="width:85%; border-radius: 10% ">



                        <div class="card-body">
                            <h4 style="padding-left: 12%; padding-top: 5%">Andressa</h4>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                            contatos
                                    </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Link 1</a></li>
                                            <li><a class="dropdown-item" href="#">Link 2</a></li>
                                            <li><a class="dropdown-item" href="#">Link 3</a></li>
                                        </ul>

                    

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <img class="rounded-circle" src="ftsSobre/eduardo.png" alt="Card image"
                            style="width:80%; border-radius: 10%">
                        <div class="card-body">

                            <h4 style="padding-left: 12%; padding-top: 5%">Eduardo</h4>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                            contatos
                                    </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Link 1</a></li>
                                            <li><a class="dropdown-item" href="#">Link 2</a></li>
                                            <li><a class="dropdown-item" href="#">Link 3</a></li>
                                        </ul>
                           
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <img class="rounded-circle" src="ftsSobre/higor2.png" alt="Card image"
                            style="width:80%; border-radius: 10%">
                        <div class="card-body">
                            <h4 style="padding-left: 25%; padding-top: 5%">Higor</h4>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                            contatos
                                    </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Link 1</a></li>
                                            <li><a class="dropdown-item" href="#">Link 2</a></li>
                                            <li><a class="dropdown-item" href="#">Link 3</a></li>
                                        </ul>
                            
                            
                        </div>
                    </div>
                </section>
            </div>

        </div>
        

    </div>
</div>